.genre-button, list-button, .category-button {
    background: hsl(272, 45%, 30%);
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.genre-button {
    height: 50px;
}

.list-button {
    height: 40px;
    width: 150px;
    background: hsl(272, 45%, 30%);
    border: 1px solid transparent;
    border-radius: 20px;
    color: white;
    font-family: inherit;
    font-weight: 600;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.category-button {
    margin: 10px 0px;
    height: 40px;
    width: 155px;
}

.genre-button:hover, .list-button:hover, .category-button:hover {
    box-shadow: inset 150px 0 50px 0 hsl(308, 35%, 26%);
    border: 1px solid white;
}

@media screen and (max-width: 648px) {
    .list-button {
        margin: auto;
    }
}
