.filter-main-page {
    margin: 20px 20px;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    width: 70%;
    margin: auto;
    background: linear-gradient(to right,
            hsl(246, 55%, 10%),
            hsl(272, 45%, 30%),
            hsl(308, 35%, 26%));
}


.filter-main-page-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-columns: minmax(200px, 1fr);
    grid-auto-flow: column;
    grid-gap: 20px;
    min-height: 390px;
    overflow-y: hidden;
    overflow-x: auto;
}

.filter-main-page p {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

@media screen and (max-width: 648px) {
    .filter-main-page {
        margin: auto;
        width: 100%;
        padding: 0px;
    }
    .filter-main-page p, .filter-main-page button {
        margin-left: 20px;
    }
}